<a href="https://colab.research.google.com/github/yoo-minho/colab/blob/main/5_days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import os
import pandas as pd
import numpy as np

# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src = base_src + '/abalone.data' 

# pandas의 read_csv => 데이터 불러오기
abalone_df = pd.read_csv(base_src+'/abalone.data',
             header=None,
             sep=',',
             names=['sex','length','diameter','height', 
                  'whole_weight','shucked_weight','viscera_weight', 
                  'shell_weight','rings'])
abalone_df

     sex  length  diameter  ...  viscera_weight  shell_weight  rings
0      M   0.455     0.365  ...          0.1010        0.1500     15
1      M   0.350     0.265  ...          0.0485        0.0700      7
2      F   0.530     0.420  ...          0.1415        0.2100      9
3      M   0.440     0.365  ...          0.1140        0.1550     10
4      I   0.330     0.255  ...          0.0395        0.0550      7
...   ..     ...       ...  ...             ...           ...    ...
4172   F   0.565     0.450  ...          0.2390        0.2490     11
4173   M   0.590     0.440  ...          0.2145        0.2605     10
4174   M   0.600     0.475  ...          0.2875        0.3080      9
4175   F   0.625     0.485  ...          0.2610        0.2960     10
4176   M   0.710     0.555  ...          0.3765        0.4950     12

[4177 rows x 9 columns]

In [10]:
# 데이터 shape 확인
# 딥러닝 (CNN) => 이미지 (데이터수, 가로, 세로, 채널)
# 딥러닝 (RNN) => 텍스트, 시계열 (데이터수,시간,세로)
abalone_df.shape

(4177, 9)

In [15]:
# 데이터 결측값 확인 (빈 값은 아니고 null 값만 체크)
abalone_df.isnull().sum().sum()

0

In [17]:
# 기술통계 확인 => 연속형 변수만 확인 => numerical
abalone_df.describe()

            length     diameter  ...  shell_weight        rings
count  4177.000000  4177.000000  ...   4177.000000  4177.000000
mean      0.523992     0.407881  ...      0.238831     9.933684
std       0.120093     0.099240  ...      0.139203     3.224169
min       0.075000     0.055000  ...      0.001500     1.000000
25%       0.450000     0.350000  ...      0.130000     8.000000
50%       0.545000     0.425000  ...      0.234000     9.000000
75%       0.615000     0.480000  ...      0.329000    11.000000
max       0.815000     0.650000  ...      1.005000    29.000000

[8 rows x 8 columns]

In [21]:
# 전복 성별에 따라 group by
grouped = abalone_df['whole_weight'].groupby(abalone_df['sex']);

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [22]:
grouped.sum()

sex
F    1367.8175
I     578.8885
M    1514.9500
Name: whole_weight, dtype: float64

In [24]:
grouped.count()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [26]:
grouped.mean() #이상치 고려해야함

sex
F    1.046532
I    0.431363
M    0.991459
Name: whole_weight, dtype: float64

In [28]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole_weight, dtype: int64

In [33]:
#그룹 변수가 하나가 아닌, 전체 연속형 변수에 대한 집계
aa = abalone_df.groupby(abalone_df['sex']).mean();
aa

       length  diameter    height  ...  viscera_weight  shell_weight      rings
sex                                ...
F    0.579093  0.454732  0.158011  ...        0.230689      0.302010  11.129304
I    0.427746  0.326494  0.107996  ...        0.092010      0.128182   7.890462
M    0.561391  0.439287  0.151381  ...        0.215545      0.281969  10.705497

[3 rows x 8 columns]

In [36]:
abalone_df.groupby('sex').mean()

       length  diameter    height  ...  viscera_weight  shell_weight      rings
sex                                ...
F    0.579093  0.454732  0.158011  ...        0.230689      0.302010  11.129304
I    0.427746  0.326494  0.107996  ...        0.092010      0.128182   7.890462
M    0.561391  0.439287  0.151381  ...        0.215545      0.281969  10.705497

[3 rows x 8 columns]

In [43]:
# 새로운 조건에 맞는 변수 추가
abalone_df['length_bool'] = np.where(
    abalone_df['length'] > abalone_df['length'].median(), 
                                     'length_long',
                                     'length_short')
abalone_df.groupby(['sex', 'length_bool']).mean() #EDA분석

                    length  diameter  ...  shell_weight      rings
sex length_bool                       ...
F   length_long   0.626895  0.493020  ...      0.360013  11.415073
    length_short  0.477428  0.373301  ...      0.178650  10.521531
I   length_long   0.584495  0.452952  ...      0.273247  10.585106
    length_short  0.402210  0.305893  ...      0.104549   7.451473
M   length_long   0.623359  0.489291  ...      0.351683  11.299172
    length_short  0.454875  0.353336  ...      0.162141   9.685053

[6 rows x 8 columns]

In [45]:
abalone_df.groupby(['sex', 'length_bool'])['whole_weight', 'height'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                  whole_weight    height
sex length_bool
F   length_long       1.261330  0.169944
    length_short      0.589702  0.132632
I   length_long       0.923215  0.150957
    length_short      0.351234  0.100997
M   length_long       1.255182  0.168670
    length_short      0.538157  0.121664