<a href="https://colab.research.google.com/github/yoo-minho/colab/blob/main/6_days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os
import pandas as pd
import numpy as np
import math

# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src = base_src + '/abalone.data' 

# pandas의 read_csv => 데이터 불러오기
abalone_df = pd.read_csv(base_src+'/abalone.data',
             header=None,
             sep=',',
             names=['sex','length','diameter','height', 
                  'whole_weight','shucked_weight','viscera_weight', 
                  'shell_weight','rings'])
abalone_df

     sex  length  diameter  ...  viscera_weight  shell_weight  rings
0      M   0.455     0.365  ...          0.1010        0.1500     15
1      M   0.350     0.265  ...          0.0485        0.0700      7
2      F   0.530     0.420  ...          0.1415        0.2100      9
3      M   0.440     0.365  ...          0.1140        0.1550     10
4      I   0.330     0.255  ...          0.0395        0.0550      7
...   ..     ...       ...  ...             ...           ...    ...
4172   F   0.565     0.450  ...          0.2390        0.2490     11
4173   M   0.590     0.440  ...          0.2145        0.2605     10
4174   M   0.600     0.475  ...          0.2875        0.3080      9
4175   F   0.625     0.485  ...          0.2610        0.2960     10
4176   M   0.710     0.555  ...          0.3765        0.4950     12

[4177 rows x 9 columns]

In [5]:
abalone_df['length_bool'] = np.where(
    abalone_df['length'] > abalone_df['length'].median(), 
                                     'length_long',
                                     'length_short')
abalone_df.groupby(['sex', 'length_bool'])['whole_weight', 'height'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

                  whole_weight    height
sex length_bool
F   length_long       1.261330  0.169944
    length_short      0.589702  0.132632
I   length_long       0.923215  0.150957
    length_short      0.351234  0.100997
M   length_long       1.255182  0.168670
    length_short      0.538157  0.121664

In [10]:
# 중복 데이터 삭제 (결측치 => 중복된 데이터 확인)
# 중복된 row 확인법
abalone_df.duplicated().sum()

0

In [22]:
new_abalone = abalone_df.iloc[[0]]
new_abalone_df = pd.concat([abalone_df, new_abalone], axis=0)
new_abalone_df.duplicated(keep='last').sum()
new_abalone_df = new_abalone_df.drop_duplicates(keep='last')
new_abalone_df

     sex  length  diameter  ...  shell_weight  rings   length_bool
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.530     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
5      I   0.425     0.300  ...        0.1200      8  length_short
...   ..     ...       ...  ...           ...    ...           ...
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long
0      M   0.455     0.365  ...        0.1500     15  length_short

[4177 rows x 10 columns]

In [34]:
#NaN(결측치)를 찾아서 다른 값으로 변경
#기존 데이터에는 결측치가 존재 X
nan_abalone_df = abalone_df.copy()
nan_abalone_df.loc[2, 'length'] = np.nan
nan_abalone_df

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      M   0.455     0.365  ...        0.1500     15  length_short
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F     NaN     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
...   ..     ...       ...  ...           ...    ...           ...
4172   F   0.565     0.450  ...        0.2490     11   length_long
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long

[4177 rows x 10 columns]

In [32]:
#결측치를 특정값으로 채우기
zero_abalone_df = nan_abalone_df.fillna(0)
zero_abalone_df

     sex  length  diameter  ...  shell_weight  rings   length_bool
0      M   0.455     0.365  ...        0.1500     15  length_short
1      M   0.350     0.265  ...        0.0700      7  length_short
2      F   0.000     0.420  ...        0.2100      9  length_short
3      M   0.440     0.365  ...        0.1550     10  length_short
4      I   0.330     0.255  ...        0.0550      7  length_short
...   ..     ...       ...  ...           ...    ...           ...
4172   F   0.565     0.450  ...        0.2490     11   length_long
4173   M   0.590     0.440  ...        0.2605     10   length_long
4174   M   0.600     0.475  ...        0.3080      9   length_long
4175   F   0.625     0.485  ...        0.2960     10   length_long
4176   M   0.710     0.555  ...        0.4950     12   length_long

[4177 rows x 10 columns]

In [36]:
# 결측치를 결측치가 속한 컬럼의 평균값으로 대체하기
mean_abalone_df = nan_abalone_df.fillna(nan_abalone_df.mean())
mean_abalone_df

     sex    length  diameter  ...  shell_weight  rings   length_bool
0      M  0.455000     0.365  ...        0.1500     15  length_short
1      M  0.350000     0.265  ...        0.0700      7  length_short
2      F  0.523991     0.420  ...        0.2100      9  length_short
3      M  0.440000     0.365  ...        0.1550     10  length_short
4      I  0.330000     0.255  ...        0.0550      7  length_short
...   ..       ...       ...  ...           ...    ...           ...
4172   F  0.565000     0.450  ...        0.2490     11   length_long
4173   M  0.590000     0.440  ...        0.2605     10   length_long
4174   M  0.600000     0.475  ...        0.3080      9   length_long
4175   F  0.625000     0.485  ...        0.2960     10   length_long
4176   M  0.710000     0.555  ...        0.4950     12   length_long

[4177 rows x 10 columns]

In [42]:
# 꽃 ... !
# apply .... !!!! 진짜 강추추

# 열 기준 집계
abalone_df[['diameter']].apply(np.average, axis=0)

diameter    0.407881
dtype: float64

In [50]:
# 사용자 함수를 통한 집계 ★★★★★★
import math

def avg_ceil(x,y,z):
  return math.ceil((x+y+z)*100/3)/100

abalone_df[['diameter', 'height', 'whole_weight']].apply(lambda x: avg_ceil(x[0], x[1], x[2]), axis = 1)

0       0.33
1       0.20
2       0.42
3       0.34
4       0.18
        ...
4172    0.51
4173    0.52
4174    0.62
4175    0.58
4176    0.90
Length: 4177, dtype: float64

In [58]:
def isSum(x):
  _sum = x[0] + x[1] + x[2]
  if _sum > 1:
    return True
  else :
    return False

answer = abalone_df[['diameter', 'height', 'whole_weight']].apply(lambda x: isSum(x), axis = 1)
abalone_df['answer'] = answer
abalone_df

     sex  length  diameter  height  ...  shell_weight  rings   length_bool  answer
0      M   0.455     0.365   0.095  ...        0.1500     15  length_short   False
1      M   0.350     0.265   0.090  ...        0.0700      7  length_short   False
2      F   0.530     0.420   0.135  ...        0.2100      9  length_short    True
3      M   0.440     0.365   0.125  ...        0.1550     10  length_short    True
4      I   0.330     0.255   0.080  ...        0.0550      7  length_short   False
...   ..     ...       ...     ...  ...           ...    ...           ...     ...
4172   F   0.565     0.450   0.165  ...        0.2490     11   length_long    True
4173   M   0.590     0.440   0.135  ...        0.2605     10   length_long    True
4174   M   0.600     0.475   0.205  ...        0.3080      9   length_long    True
4175   F   0.625     0.485   0.150  ...        0.2960     10   length_long    True
4176   M   0.710     0.555   0.195  ...        0.4950     12   length_long    True

[4177 rows x 11 columns]

In [62]:
abalone_df['sex'].value_counts(dropna=True)

M    1528
I    1342
F    1307
Name: sex, dtype: int64

In [69]:
one_abalone_df = abalone_df.iloc[[0]]
pd.concat([abalone_df, one_abalone_df], axis=0)

     sex  length  diameter  height  ...  shell_weight  rings   length_bool  answer
0      M   0.455     0.365   0.095  ...        0.1500     15  length_short   False
1      M   0.350     0.265   0.090  ...        0.0700      7  length_short   False
2      F   0.530     0.420   0.135  ...        0.2100      9  length_short    True
3      M   0.440     0.365   0.125  ...        0.1550     10  length_short    True
4      I   0.330     0.255   0.080  ...        0.0550      7  length_short   False
...   ..     ...       ...     ...  ...           ...    ...           ...     ...
4173   M   0.590     0.440   0.135  ...        0.2605     10   length_long    True
4174   M   0.600     0.475   0.205  ...        0.3080      9   length_long    True
4175   F   0.625     0.485   0.150  ...        0.2960     10   length_long    True
4176   M   0.710     0.555   0.195  ...        0.4950     12   length_long    True
0      M   0.455     0.365   0.095  ...        0.1500     15  length_short   False

[4178 rows x 11 columns]

In [71]:
one_abalone_df = abalone_df.iloc[:,[0]]
pd.concat([abalone_df,one_abalone_df], axis=1)

      sex  length  diameter  height  ...  rings   length_bool  answer  sex
0       M   0.455     0.365   0.095  ...     15  length_short   False    M
1       M   0.350     0.265   0.090  ...      7  length_short   False    M
2       F   0.530     0.420   0.135  ...      9  length_short    True    F
3       M   0.440     0.365   0.125  ...     10  length_short    True    M
4       I   0.330     0.255   0.080  ...      7  length_short   False    I
...   ...     ...       ...     ...  ...    ...           ...     ...  ...
4172    F   0.565     0.450   0.165  ...     11   length_long    True    F
4173    M   0.590     0.440   0.135  ...     10   length_long    True    M
4174    M   0.600     0.475   0.205  ...      9   length_long    True    M
4175    F   0.625     0.485   0.150  ...     10   length_long    True    F
4176    M   0.710     0.555   0.195  ...     12   length_long    True    M

[4177 rows x 12 columns]