<a href="https://colab.research.google.com/github/yoo-minho/colab/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import os
import pandas as pd

In [ ]:
os.listdir('./drive/MyDrive/machine_learning_data')

In [9]:
# 데이터 폴더 src 변수 할당
base_src = './drive/MyDrive/machine_learning_data'

# friend.csv 파일 src 변수 할당
friend_src = base_src + '/friend.csv'

In [12]:
# pandas의 read_csv => 데이터 불러오기
df = pd.read_csv(friend_src, encoding='utf-8')

In [ ]:
# head() 데이터를 읽어보기 => 디폴트로 5개 정도만 읽기
df.head()

In [21]:
new_friend_src = base_src + "/new_friend.csv"

In [24]:
# index=False 필수 (인덱스 열 하나를 임의로 생성함)
df.to_csv(new_friend_src, index=False,  encoding='utf-8')

In [ ]:
os.listdir(base_src)

In [32]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [33]:
# Series 실습
import numpy as np

np.array([1,2,3])

array([1, 2, 3])

In [36]:
# 데이터프레임(집합) => 시리즈(단일)
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [39]:
# pd.Series 함수를 통해서 만드는 것도 가능
series = pd.Series([1,2,3,4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [42]:
# pd.Series 의 옵션이 무엇이 있는지 확인
# index => 할당 값의 지정 이름, 중복 가능
# dtype => 대표적 : int, float, string, boolean 등
series = pd.Series([1,2,3,4], index=['a','b','c','d'],dtype=float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [47]:
# sort_values 할 일이 많음
series = pd.Series([10,2,4,5], index=['a','b','c','d'],dtype=float)
series.sort_values(ascending=True)

b     2.0
c     4.0
d     5.0
a    10.0
dtype: float64

In [66]:
# 판다스의 봉우리 : DataFrame 실습
friend_df = pd.DataFrame({
    'a':[2,3],
    'b':[5,10]
}, columns=['a', 'b']) 
friend_df

   a   b
0  2   5
1  3  10

In [67]:
new_df = pd.DataFrame([[2,3],[5,10]],columns=['a','b'])
new_df

   a   b
0  2   3
1  5  10